.venv/
.idea/inspectionProfiles/profiles_settings.xml
.idea/manga_downloader.iml
.idea/misc.xml
.idea/modules.xml
.idea/ruff.xml
.idea/vcs.xml
cli/__pycache__/__init__.cpython-313.pyc
cli/__pycache__/args.cpython-313.pyc
cli/__pycache__/chapter_selection.cpython-313.pyc
cli/__pycache__/input_handler.cpython-313.pyc
cli/__pycache__/output_handler.cpython-313.pyc
cli/__pycache__/validate.cpython-313.pyc
helper/__pycache__/__init__.cpython-313.pyc
helper/__pycache__/element_validator.cpython-313.pyc
models/__pycache__/__init__.cpython-313.pyc
models/__pycache__/chapter.cpython-313.pyc
models/__pycache__/manga.cpython-313.pyc
scraper/__pycache__/__init__.cpython-313.pyc
scraper/__pycache__/manga_scraper.cpython-313.pyc
utils/__pycache__/__init__.cpython-313.pyc
utils/__pycache__/exceptions.cpython-313.pyc
*.pyc
*.pyc
*.pyc
/models/__pycache__
models/__pycache__/download_options.cpython-313.pyc
utils/__pycache__/constants.cpython-313.pyc
utils/__pycache__/constants.cpython-313.pyc
models/__pycache__/download_options.cpython-313.pyc
*.pyc
*.pyc
